bokeh==1.4.0
imageio==2.6.1
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.22.0
packaging==20.0
pandas==0.25.3
phantomjs==1.1.4
Pillow==10.0.1
pyparsing==2.4.6
python-dateutil==2.8.1
python-lametro-api==0.2.0
pytz==2019.3
PyYAML==5.4
requests==2.20.0
selenium==3.141.0
six==1.14.0
tornado==6.3.3
urllib3==1.26.17
